{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "testAssets": "./testAssets"
        }
      }
    ]
  ],

  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.5"
        }
      }
    ]
  ]
}
